<div class="container">
	<div class="upper-part">
		<img *ngIf="myDatas.main.temp>STANDARD_TEMP"
			src="../assets/hot.jpeg">
		<img *ngIf="myDatas.main.temp<=STANDARD_TEMP"
			src="../assets/cold.jpeg">

		<div class="weather-data">
			<div class="location">{{myDatas.name}}</div>

			<div class="temperature">
				{{myDatas.main.temp | number: '1.0-0'}}°C
			</div>

			<div class="feelings">
				feels like {{myDatas.main.feels_like}}°C
			</div>
		</div>
	</div>

	<div class="lower-part">
		<div class="more-iformation-label">More Information</div>
		<div class="more-info-container">
			<div class="info-block">
				<div class="info-block-label">min</div>

				<div class="info-block-value">
					{{myDatas.main.temp_min}}
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">max</div>

				<div class="info-block-value">
					{{myDatas.main.temp_max}}
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">humidity</div>

				<div class="info-block-value">
					{{myDatas.main.humidity}}%
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">wind</div>

				<div class="info-block-value">
					{{myDatas.wind.speed}} km/h
				</div>
			</div>
		</div>
	</div>
</div>
