<div class="search">
	<form #form="ngForm"
		(submit)="onSearch()">
		<input [(ngModel)]="place"
			type="text"
			placeholder="search city"
			name="city">
	</form>
</div>

<div class="container">

	<div class="upper-part">
		<img *ngIf="temp>STANDARD_TEMP"
			src="../assets/hot.jpeg">
		<img *ngIf="temp<=STANDARD_TEMP"
			src="../assets/cold.jpeg">

		<div class="menu-toggler" >
			<!-- <fa-icon [icon]="menuIcon"
				class="menu-icon" (click) = "redirectToForcast()"></fa-icon>
		 -->
				<!-- <div class="menu" *ngIf="isMenuOpened">
					<div class="menu-item" (click)="redirectToForcast()">
						view forcast
					</div>
					<div class="menu-item">
						about
					</div>
					
				</div> -->
				<!-- <div class="menu" *ngIf="isMenuOpened">

					<option value="1" class="menu-item" (click)="redirectToForcast()">Forcast</option>
				
					<option value="1" class="menu-item">About Us</option>
				</div> -->

				
			</div>

		<div class="weather-data">
			<div class="location">
				{{weatherData?.name}}
			</div>

			<div class="temperature">
				{{weatherData?.main?.temp}}°C
			</div>

			<div class="feelings">
				feels like {{weatherData?.main?.feels_like | number: '1.0-0'}}°C
			</div>
		</div>
	</div>

	<div class="lower-part">
		<div class="lower-part-title">
			<div class="more-iformation-label">More Information</div>

			<div class="view-forcast-label" (click)="redirectToForcast()">View forcast</div>
		</div>
		<div class="more-info-container">
			<div class="info-block">
				<div class="info-block-label">min</div>

				<div class="info-block-value">
					{{weatherData?.main?.temp_min}}°C
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">max</div>

				<div class="info-block-value">
					{{weatherData?.main?.temp_max}}°C
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">humidity</div>

				<div class="info-block-value">
					{{weatherData?.main?.humidity}}%
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">wind</div>

				<div class="info-block-value">
					{{weatherData?.wind?.speed}} km/h
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">pressure</div>

				<div class="info-block-value">
					{{weatherData?.main?.pressure}}hPa
				</div>
			</div>

			<div class="info-block">
				<div class="info-block-label">description</div>

				<div class="info-block-value">{{desc}}</div>
			</div>

		</div>
	</div>
</div>
